.tours_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    background:#0ea5e9;
    color: #fff;
    height:100vh;
}
.tours_logo {
    width: 60%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 20px #aaaaaa;
}


.tour_info,
.tour_name,
.tour_price {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.clear_tours {
    text-align: center;
    margin: 0 auto;
}

.tour_heading {
    text-align: center;
    text-transform: capitalize;
    padding: 20px 0px 20px 0px;
    background:#0ea5e9;
    color: #fff;
}

.tour_header {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    color: #22c55e;
    font-size: 32px;
}

.tours_clear_btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    background: #0ea5e9;
}

.tours_toggle_btn {
    width: 30%;
    padding: 20px 10px 10px 10px;
    background: #663399;
    border: 1px solid white;
    margin: 20px 20px 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    word-wrap: break-word;
}

.tours_toggle_btn:hover {
    background:#a855f7;
}

.tours_toggle_btn:focus {
    background:#9333ea;
}

.tours_toggle_btn:active {
    color:#7e22ce;
}

.clear_tours {
    width: 30%;
    padding: 20px;
    background: #663399;
    border: 1px solid white;
    margin: 10px 3% 10px 3%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

.clear_tours:hover{
    background:#a855f7;
}

.clear_tours:focus {
    background:#9333ea;
}

.clear_tours:active {
    background:#7e22ce;
}

.tour_no_tours_left {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    color: #000;
    margin: 0 auto;
}

.refresh_tours {
    width: 30%;
    padding: 20px;
    background: #22c55e;
    border: 1px solid white;
    margin: 50px 0px 10px 35%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-self: center;
}

.refresh_tours:hover{
    background:#2dd4bf;
}

.refresh_tours:focus {
    background:#14b8a6;
}

.refresh_tours:active {
    background:#115e59;
}

@media(max-width: 760px) {
    .tours_content {
        width:auto;
        height: auto;
    }
    .tours_logo {
        width: 85%;
    }
    .tours_toggle_btn  {
        width: 80%;
    }
    .tours_toggle_btn:hover {
        background:#a855f7;
    }
    
    .tours_toggle_btn:focus {
        background:#9333ea;
    }
    
    .tours_toggle_btn:active {
        color:#7e22ce;
    }
    .clear_tours {
        width: 85%;
    }
    .clear_tours:hover{
        background:#2dd4bf;
    }
    
    .clear_tours:focus {
        background:#14b8a6;
    }
    
    .clear_tours:active {
        background:#115e59;
    }
    .refresh_tours {
        width: 70%;
        margin: 40px 50px;
    }
    .refresh_tours:hover{
        background:#2dd4bf;
    }
    
    .refresh_tours:focus {
        background:#14b8a6;
    }
    
    .refresh_tours:active {
        background:#115e59;
    }
    .tour_no_tours_left {
        color: #2e8b57;
    }
    .tour_header {
        color: #2e8b57;
    }
    .tour_heading {
        font-size: 25px;
        color: #fff;
        padding: 10px 10px 0px 10px;
    }
}